GITCONFIG_NAME="Your Name"
GITCONFIG_EMAIL="you@example.com"
GITCONFIG_SIGNINGKEY="YOUR_GPG_KEY_ID"
GITCONFIG_GITHUB_USER="your-github-username"
GPG_KEY_NAME="Your Name"
GPG_KEY_EMAIL="you@example.com"
GPG_KEY_PASSPHRASE="change-me"
SSH_KEY_COMMENT="you@example.com"
SSH_KEY_PASSPHRASE="change-me"
