alias C=" code - &"

alias chrome-insecure='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --ignore-certificate-errors --ignore-urlfetcher-cert-requests &> /dev/null'
alias chrome-debug='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --remote-debugging-port=9222 &> /dev/null'
alias notes='code $HOME/workspace/notes'

alias g="git"
alias "g?"="git status"
alias "g+"="git add"
alias "g-"="git rm"
alias "g!"="git commit -am"
alias "gf!"="git commit --no-verify -am"
alias "g%"="git sync"
alias gp="git pull"
alias gps="git push"

# qq are my aliases
alias qq-export-kubeconfig='export KUBECONFIG=$(ls -t ~/Downloads | head -1 | xargs -I {} echo ~/Downloads/{}); echo "export KUBECONFIG=$KUBECONFIG"'
alias qq-get-apl-creds=_qq-get-apl-creds
alias qq-port-forward-git='kubectl port-forward --namespace git-server svc/git-server 9091:80'
alias qq-port-forward-prometheus='kubectl port-forward --namespace monitoring svc/po-prometheus 9090:9090'


function _qq-get-apl-creds {
  [[ -z "${KUBECONFIG}" ]] && echo "KUBECONFIG is not exported" && return 1

  local host="https://$(kubectl get httproute -n otomi console -o jsonpath='{.spec.hostnames[0]}')"
  local gitServerUrl="https://$(kubectl get httproute -n git-server git-server -o jsonpath='{.spec.hostnames[0]}')"
  local gitRepoUrl="$gitServerUrl/otomi.values.git"
  local username=$(kubectl get secret platform-admin-initial-credentials -n keycloak -o jsonpath='{.data.username}' | base64 -d)
  local password=$(kubectl get secret platform-admin-initial-credentials -n keycloak -o jsonpath='{.data.password}' | base64 -d)
  local gitPassword=$(kubectl get secret -n apl-secrets apl-git-config -o jsonpath='{.data.password}' | base64 -d)

  echo "Host: $host"
  echo "Username: $username"
  echo "Password: $password"
  echo "Git URL: $gitRepoUrl"
  echo "Git password: $gitPassword"
}